
body {
  margin-left: 20px;
  max-width: 800px;
  line-height: 1.8;
  padding: 18px;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(#272941, #16161E);
  background-attachment: fixed;
  color: #ddd;
}

.home-link {
  text-align: right;
  margin-right: 24px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3 {
  color: #6F86F0;
}

ul {
  list-style: square;
}

li {
  margin: 12px 0;
}

img {
  height: auto;
  width: 400px;
  border-radius: 24px;
}

a {
  color: #FF9950;
}
